<!DOCTYPE html>
<html>
  <head>
    <title >MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
  <style>
    header {
      text-align: center; 
      font-family: Georgia, sans-serif;
      font-size: 60px 
    }
  </style>
  <header> MUSIC APP </header>

  <%if logged_in?%>
  <form action="<%=session_url%>" method="post"> 
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <input type= "submit" value= "Sign Out">
  <input type="hidden" name= "_method" value="delete">
  <%else%>
  <a href= "<%=new_user_url%>">Sign Up</a>
  <a href= "<%=new_session_url%>">Log In</a>
  <%end%>
  </form>

      <% if flash.now[:errors] %>
      <% flash.now[:errors].each do |error| %>
        <%= error %>
      <% end %>
    <% end %>

    <%= yield %>
  </body>

</html>

